*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
font-family: "Raleway", sans-serif;
}
.container {
    height: 100vh;
    background: #dfe4e8;
}
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    position: fixed;
    width: 100%;
    box-shadow: 1px 2px 8px hsla(0, 0%, 0%, 0.24);
}
.logo {
    font-family: sans-serif;
        font-size: 18px;
}
.logo img {
    width: 100%;
    margin: 0px 0 0 12px;
}
nav {
    width: 70%;
}
ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
li {
    display: block;
    margin: 15px;
}
li>a {
    font-family: sans-serif;
    text-decoration: auto;
    color: black;
}
.interface{
    background: url(main.jpg);
    background-size: cover;
    height: 100vh;    
}
.mainTixt {
    margin: 0px 49px 88px;
    padding: 147px 1px;
}
.title{
    font-size: 64px;
    color: #fff;
    font-family: sans-serif;

}
.main-p {
    font-size: 18px!important;
    color: #fff;
    font-family: sans-serif;
    margin: 35px 0px 35px 0px;
}
.main-btn {
    border: none;
    display: inline-block;
    padding: 16px 16px;
    text-decoration: none;
    color: rgb(7 0 0 / 65%);
    background: #f0f8ffad;
    text-align: center;
    cursor: pointer;
    font-family: 'Font Awesome 6 Brands';
}
.H-logo{
    font-size: initial;
    margin: 10px;
}
/***********************/
.small_container{
padding: 125px 16px;
margin: auto;
overflow: hidden;
}    
.containt{
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
margin: auto;
}
.col-2{
flex-basis: 50%;
min-width: 300px; 
margin: auto; 
}

.col-2 h1{
font-size: 35px;
margin: 25px 10px;
font-weight: bold;
color: #04243c;
}

.col-2 p{
font-size: 16px;
font-weight: lighter;
line-height: 25px;
}
.col-2 img{
max-width: 100%;  
padding: 15px;

}

.btn{
display: inline-block;
border-radius: 3px ;
padding: 10px 30px;
margin: 25px 5px ;
box-sizing: border-box;
text-decoration: none;
color:#ffffff;
font-weight: lighter;
overflow: hidden;
background-color: #000000;
}
.btn:hover{
background-color: #c0bbbb;
color: #000000;
}
.col-4{
flex-basis: 23%;
min-width: 200px;

}
.col-4 h3{
font-size: 18px;
color: #000000;
margin: 20px 0 20px;
font-weight: normal;
}
.col-4 p{
font-size: 15px;
font-weight: lighter;
line-height: 25px;
}
.col-4 i{
color:#000000;
margin-bottom: 10px;
font-size: 60px;
}
.center{
text-align: center;
}
.title0{
margin-bottom :40px;
font-weight: normal;

}
.containers{
background-color: #F1F1F1;
}
.team{
box-shadow: 2px 8px 10px hsla(0, 0%, 0%, 0.363);
}
.team_container{
padding-left: 15px;
padding-right: 15px;
}
.team_container h3{
margin: 10px 0 20px;
font-size: x-large;
}
.team_container p{
margin: 10px 0 20px;
}
.team_container i{
color:#000000;
font-size: 16px;
}
.team_container button{
display:inline-block;
width: 100%;
border-radius: 3px ;
padding: 10px 20px;
text-align: center;
color:#000000;
font-size: 16px;
font-weight:lighter;
border: none;
overflow: hidden;
background-color: #F1F1F1;
}
@media only screen and (max-width:630px) {
.col-2,.col-4{
flex-basis: 100%;

}
.col-4{
min-width:90%;
}
.col-2{
min-width: 100px;
}
}

@media only screen and (max-width:1000px) {

.col-4{
flex-basis: 45%;
margin-bottom: 30px;
}
}
/***********************/

.cont {
    padding: 115px 14px;
    margin: auto;

}

.containt {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

.con-1 {
    flex-basis: 50%;
    min-width: 300px;
    margin: auto;
}

.con-1 h1 {
    font-size: 35px;
    margin: 20px 10px;
    font-weight: bold;
    color: #04243c;
}

.con-1 p {
    font-size: 16px;
    font-weight: lighter;

}

.con-1 img {
    max-width: 100%;
    padding: 15px;

}

/*------*/

.center {
    text-align: center;
}

.titl {
    margin-bottom: 35px;
    font-weight: normal;

}

.containers {
    background-color: #F1F1F1;
}

/*--  section1-*/

.team-1 {
    flex-basis: 23%;
    min-width: 200px;

}

.team-1 h3 {
    font-size: 18px;
    color: #000000;
    margin: 20px 0 20px;
    font-weight: normal;
}

.team-1 p {
    font-size: 15px;
    line-height: 25px;
}

.team-1 i {

    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}

/*----------------*/

.team_container {
    padding-left: 15px;
    padding-right: 15px;
}

.team_container h3 {
    margin: 10px 0 20px;
    font-size: x-large;
}

.team_container p {
    margin: 10px 0 20px;
}

.team_container i {
    color: #000000;
    font-size: 16px;
}

.team_container button {
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    padding: 10px 20px;
    text-align: center;
    color: #000000;
    font-size: 16px;
    font-weight: lighter;
    border: none;
    overflow: hidden;
    background-color: #F1F1F1;
}

/*----------------*/

.team-2 {
    background-color: #4d4b4b;
    color: #ffff;
    height: 25vh;
    margin-top: 150px;
    display: flex;
}

.team-te {
    position: relative;
    top: 60px;
}

.sty {
    font-size: 40px;
    text-align: center;
    margin-left: 220px;
}

.styl {
    font-size: 20px;
    margin-left: 220px;
    text-align: center;
    margin-top: 10px;
}

/*-- End section1-*/
/*--  section2-*/

.work-3 {
    display: flex;
    margin-top: 30px;
}

.work {
    margin-left: 30px;
}

.st {
    margin-top: 10px;
}

.work:hover {
    opacity: 0.60;
}

/*-- End section2-*/

@media only screen and (max-width:640px) {

    .con-1,
    .team-1 {
        flex-basis: 100%;

    }

    .team-1 {
        min-width: 90%;
    }

    .con-1 {
        min-width: 100px;
    }
}

@media only screen and (max-width:1000px) {

    .team-1 {

        margin-bottom: 35px;
        flex-basis: 40%;
    }
}

@media only screen and (max-width:640px) {


    .team-2 {
        display: block;
        height: 70vh;


    }

    .team-te {
        margin-right: 200px;
    }

}

@media only screen and (max-width:640px) {


    .work-3 {
        display: block;
        height: 70vh;

    }




}
